---
---

<section class="w-auto h-[100vh] grid justify-center items-center z-50">
  <div class="grid place-items-center">
    <div class="w-[44.125rem]">
      <h1 class="text-[#FFFFFE] text-[5rem] font-bold text-center">
        ¡Hola , mi nombre es Omar!
      </h1>
      <p class="text-[#94A1B2] text-[1.875rem] text-center font-bold">
        Mejor conocido como <a href="" class="text-[#7F5AF0]">@omxrhack</a>, me
        apasionala programacion desde que estaba chico y el diseño de
        aplicaciones webs y moviles desde que tengo edad , me gusta crear cosas
        que solo estan en ideas y plasmarlos en una web o telefono es lo que mas
        me gusta. ¿Tu quieres convertir esa ida en realidad?
      </p>
    </div>
    <div class="w-[14rem] bg-[#7F5AF0] text-center mt-7 rounded-[0.625rem]">
      <a href="#" class="text-[1.5rem] font-bold text-[#FFFFFE]">CONTACTAME</a>
    </div>
  </div>
</section>

<style>
  section {
    background-image: url("http://imgfz.com/i/ryFo9cO.png");
  }
</style>
