---
import CardPro from "../reutilizables/CardPro.astro";
---

<section>
  <div class="inline-flex">
    <div class="justify-end w-[24.9375rem] float-right">
      <h2 class="text-[4.375rem] font-bold italic text-[#FFFFFF]">
        Mis proyectos
      </h2>
      <p class="text-[1.875rem] font-bold italic text-[#94A1B2]">
        Los proyectos son una parte importante de cada profesional, te mostraré
        los proyectos mas destacables que realizé
      </p>
    </div>
    <div class="right-0 top-0">
      <img src="http://imgfz.com/i/v8CYhPW.png" />
    </div>
  </div>
  <div class="grid grid-cols-2 justify-items-center">
    <!-- AQUÍ VAN MIS PROYECTOS -->
    <CardPro
      title="Peliculas App"
      content="Esta aplicacion era para ver la informacion de las peliculas mas populares del momento"
      image="http://imgfz.com/i/ZEzISGx.png"
      ref="https://github.com/Omxrhack/PelisAppFlutter"
      reftec="http://imgfz.com/i/jnIaLMC.png"
    />
    <CardPro
      title="Sitec web"
      content="Fue un rediseño de la pagina de la escuela, para que fuera mas facil de usar y mas atractiva"
      image="http://imgfz.com/i/uhH9Tdz.png"
      ref="https://github.com/Omxrhack/sitec"
      reftec="http://imgfz.com/i/btR0AVr.png"
    />
    <CardPro
      title="Sushi web"
      content="Solo fue para practica , es una pagina de un sushi para un amigo."
      image="http://imgfz.com/i/dCS1N3F.png"
      ref="https://github.com/Omxrhack/keyjo_sushi_landing"
      reftec="http://imgfz.com/i/btR0AVr.png"
    />
    <CardPro
      title="Portafolio"
      content="Este es mi portafolio, lo hice para mostrar mis proyectos y mis habilidades"
      image="http://imgfz.com/i/sE7bBno.png"
      ref="https://github.com/Omxrhack/por-om"
      reftec="http://imgfz.com/i/btR0AVr.png"
    />
  </div>
</section>

<style>
  section {
    background-image: url("http://imgfz.com/i/ryFo9cO.png");
  }
</style>
