---
import SkillsIMG from "../reutilizables/SkillsIMG.astro";
---

<section>
  <div id="cont-text-prin" class="grid justify-end w-[ 29.5rem] mb-32">
    <h4 class="text-[4.375rem] italic font-extrabold text-[#FFF] text-end">
      Skills
    </h4>
    <p
      class="text-[1.875rem] w-[29rem] italic font-extrabold text-[#94A1B2] text-end"
    >
      Un poco de las tecnologias que domino para cada proyecto.
    </p>
  </div>
  <div>
    <!-- AQUÃ IRAN LAS SKILSS EN FORMA DE CIRCULO -->
    <div id="cont-cards" class="grid grid-cols-4 gap-10 place-items-center">
      <SkillsIMG img="http://imgfz.com/i/jnIaLMC.png" />
      <SkillsIMG img="http://imgfz.com/i/btR0AVr.png" />
      <SkillsIMG img="http://imgfz.com/i/q5uYNHx.png" />
      <SkillsIMG img="http://imgfz.com/i/s8wqBHP.png" />
      <SkillsIMG img="http://imgfz.com/i/3pwZKND.png" />
      <SkillsIMG img="http://imgfz.com/i/EAjp7iG.png" />
      <SkillsIMG img="http://imgfz.com/i/8GjzY9D.png" />
      <SkillsIMG img="http://imgfz.com/i/N1Yzops.png" />
    </div>
  </div>
</section>

<style>
  section {
    background-image: url("http://imgfz.com/i/ryFo9cO.png");
  }
  @media (max-width: 700px) {
    #cont-text-prin {
      width: 30rem;
      justify-content: center;
    }
    h4 {
      text-align: center;
      font-size: 2.5rem;
    }
    p {
      text-align: center;
      font-size: 1.2rem;
    }
    #cont-cards {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
    }
  }
</style>
