---
import Home from "@/components/sections/Home.astro";
import History from "@/components/sections/History.astro";
import Layout from "@/layouts/Layout.astro";
import Proyects from "@/components/sections/Proyects.astro";
import Skils from "@/components/sections/Skils.astro";
import Contactme from "@/components/sections/Contactme.astro";
---

<Layout title="Omar / Omxrhack">
  <main class="">
    <Home />
    <div class="mb-56 grid"></div>
    <History />
    <div class="mb-56 grid"></div>
    <Proyects />
    <div class="mb-56 grid"></div>
    <Skils />
    <div class="mb-56 grid"></div>
    <Contactme id="contactame" />
    <div class="mb-56 grid"></div>
  </main>
</Layout>
